# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Large files
images/EDUSITY.png
images/user-image*.png
images/CV*.pdf
images/content.pdf
images/MUJ_SEBInstaller-1.18.exe
images/Payment_Receipt_P-*.pdf
images/gcapi.dll
images/jdk-23_windows-x64_bin.exe